In [1]:
import pandas as pd

In [2]:
initdf = pd.read_csv('infant_mortality_rate.csv')

In [3]:
initdf.head()

,Sl.No.,States/Union Territories,1971,1972,1973,1974,1975,1976,1977,1978,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,1,Andhra Pradesh,106.0,116.0,105.0,111,123,122,125,117,...,62.0,59.0,59,57,56,54,52,49,46,43
1,2,Assam,139.0,136.0,136.0,136,144,124,115,118,...,70.0,67.0,66,68,67,66,64,61,58,55
2,3,Bihar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,60.0,61,61,60,58,56,52,48,44
3,4,Chhatisgarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.0,70.0,60,63,61,59,57,54,51,48
4,5,Gujarat,144.0,128.0,161.0,106,154,146,138,122,...,60.0,57.0,53,54,53,52,50,48,44,41

In [4]:
initdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sl.No.                     36 non-null     int64
 1    States/Union Territories  36 non-null     object
 2   1971                       13 non-null     float64
 3   1972                       14 non-null     float64
 4   1973                       16 non-null     float64
 5   1974                       17 non-null     object
 6   1975                       17 non-null     object
 7   1976                       17 non-null     object
 8   1977                       17 non-null     object
 9   1978                       17 non-null     object
 10  1979                       17 non-null     object
 11  1980                       17 non-null     object
 12  1981                       18 non-null     float64
 13  1982                       18 non-null     float64
 14  1983                       18 non-null     float64
 15  1984                       18 non-null     float64
 16  1985                       18 non-null     float64
 17  1986                       18 non-null     float64
 18  1987                       18 non-null     float64
 19  1988                       18 non-null     float64
 20  1989                       18 non-null     float64
 21  1990                       18 non-null     float64
 22  1991                       18 non-null     object
 23  1992                       18 non-null     object
 24  1993                       18 non-null     object
 25  1994                       18 non-null     object
 26  1995                       18 non-null     object
 27  1996                       18 non-null     object
 28  1997                       34 non-null     object
 29  1998                       34 non-null     float64
 30  1999                       35 non-null     float64
 31  2000                       35 non-null     float64
 32  2001                       35 non-null     float64
 33  2002                       35 non-null     float64
 34  2003                       35 non-null     float64
 35  2004                       36 non-null     int64
 36  2005                       36 non-null     int64
 37  2006                       36 non-null     int64
 38  2007                       36 non-null     int64
 39  2008                       36 non-null     int64
 40  2009                       36 non-null     int64
 41  2010                       36 non-null     int64
 42  2011                       36 non-null     int64
dtypes: float64(19), int64(9), object(15)
memory usage: 12.2+ KB

In [5]:
c_header = ['Sl.No', 'States', '2005', '2006', '2007', '2008', '2009', '2010', '2011']
#usecols =['Sl.No.', ' States/Union Territories','2005', '2006', '2007', '2008', '2009', '2010', '2011']

In [6]:
df = pd.read_csv('infant_mortality_rate.csv' , usecols =['Sl.No.', ' States/Union Territories','2005', '2006', '2007', '2008', '2009', '2010', '2011'])

In [7]:
df.head()

   Sl.No.  States/Union Territories  2005  2006  2007  2008  2009  2010  2011
0       1            Andhra Pradesh    57    56    54    52    49    46    43
1       2                     Assam    68    67    66    64    61    58    55
2       3                     Bihar    61    60    58    56    52    48    44
3       4               Chhatisgarh    63    61    59    57    54    51    48
4       5                   Gujarat    54    53    52    50    48    44    41

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sl.No.                     36 non-null     int64
 1    States/Union Territories  36 non-null     object
 2   2005                       36 non-null     int64
 3   2006                       36 non-null     int64
 4   2007                       36 non-null     int64
 5   2008                       36 non-null     int64
 6   2009                       36 non-null     int64
 7   2010                       36 non-null     int64
 8   2011                       36 non-null     int64
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

In [9]:
df.columns=c_header

In [10]:
df.head()

   Sl.No          States  2005  2006  2007  2008  2009  2010  2011
0      1  Andhra Pradesh    57    56    54    52    49    46    43
1      2           Assam    68    67    66    64    61    58    55
2      3           Bihar    61    60    58    56    52    48    44
3      4     Chhatisgarh    63    61    59    57    54    51    48
4      5         Gujarat    54    53    52    50    48    44    41

In [11]:
df['States']

0        Andhra Pradesh
1                 Assam
2                 Bihar
3           Chhatisgarh
4               Gujarat
5               Haryana
6             Jharkhand
7             Karnataka
8                Kerala
9        Madhya Pradesh
10          Maharashtra
11               Odisha
12               Punjab
13            Rajasthan
14           Tamil Nadu
15        Uttar Pradesh
16          West Bengal
17    Arunachal Pradesh
18                Delhi
19                  Goa
20     Himachal Pradesh
21      Jammu & Kashmir
22              Manipur
23            Meghalaya
24              Mizoram
25             Nagaland
26               Sikkim
27              Tripura
28          Uttaranchal
29          A&N Islands
30           Chandigarh
31           D&N Haveli
32          Daman & Diu
33          Lakshadweep
34           Puducherry
35            ALL INDIA
Name: States, dtype: object

In [12]:
# index = df[df['States'] == 'ALL INDIA'].index
# df.drop(index, inplace=True)
df=df.drop(35)

In [13]:
import json

In [14]:
ind_states = json.load(open('states_india.geojson', 'r'))

In [15]:
ind_states['features'][0].keys()

dict_keys(['type', 'geometry', 'properties'])

In [16]:
ind_states['features'][0]['properties']

{'cartodb_id': 1, 'state_code': 0, 'st_nm': 'Telangana'}

In [17]:
ind_states['features'][2]['properties']

{'cartodb_id': 3, 'state_code': 28, 'st_nm': 'Andhra Pradesh'}

In [18]:
state_id_map = {}

In [19]:
for feature in ind_states['features']:
    feature['id'] = feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']] = feature['id']

In [20]:
state_id_map

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Arunanchal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'NCT of Delhi': 7}

In [21]:
#mydict[k_new] = mydict.pop(k_old)
state_id_map['Delhi'] = state_id_map.pop('NCT of Delhi')

In [22]:
state_id_map['Arunachal Pradesh'] = state_id_map.pop('Arunanchal Pradesh')

In [23]:
state_id_map

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'Delhi': 7,
 'Arunachal Pradesh': 12}

In [24]:
df

    Sl.No             States  2005  2006  2007  2008  2009  2010  2011
0       1     Andhra Pradesh    57    56    54    52    49    46    43
1       2              Assam    68    67    66    64    61    58    55
2       3              Bihar    61    60    58    56    52    48    44
3       4        Chhatisgarh    63    61    59    57    54    51    48
4       5            Gujarat    54    53    52    50    48    44    41
5       6            Haryana    60    57    55    54    51    48    44
6       7          Jharkhand    50    49    48    46    44    42    39
7       8          Karnataka    50    48    47    45    41    38    35
8       9             Kerala    14    15    13    12    12    13    12
9      10     Madhya Pradesh    76    74    72    70    67    62    59
10     11        Maharashtra    36    35    34    33    31    28    25
11     12             Odisha    75    73    71    69    65    61    57
12     13             Punjab    44    44    43    41    38    34    30
13     14          Rajasthan    68    67    65    63    59    55    52
14     15         Tamil Nadu    37    37    35    31    28    24    22
15     16      Uttar Pradesh    73    71    69    67    63    61    57
16     17        West Bengal    38    38    37    35    33    31    32
17     20  Arunachal Pradesh    37    40    37    32    32    31    32
18     21              Delhi    35    37    36    35    33    30    28
19     22                Goa    16    15    13    10    11    10    11
20     23   Himachal Pradesh    49    50    47    44    45    40    38
21     24    Jammu & Kashmir    50    52    51    49    45    43    41
22     23            Manipur    13    11    12    14    16    14    11
23     24          Meghalaya    49    53    56    58    59    55    52
24     25            Mizoram    20    25    23    37    36    37    34
25     26           Nagaland    18    20    21    26    26    23    21
26     27             Sikkim    30    33    34    33    34    30    26
27     28            Tripura    31    36    39    34    31    27    29
28     29        Uttaranchal    42    43    48    44    41    38    36
29     30        A&N Islands    27    31    34    31    27    25    23
30     31         Chandigarh    19    23    27    28    25    22    20
31     32         D&N Haveli    42    35    34    34    37    38    35
32     33        Daman & Diu    28    28    27    31    24    23    22
33     34        Lakshadweep    22    25    24    31    25    25    24
34     35         Puducherry    28    28    25    25    22    22    19

In [25]:
df['States'] = df['States'].replace(['D&N Haveli','A&N Islands','Chhatisgarh','Uttaranchal' ],['Dadara & Nagar Havelli','Andaman & Nicobar Island','Chhattisgarh','Uttarakhand'])

In [26]:
df

    Sl.No                    States  2005  2006  2007  2008  2009  2010  2011
0       1            Andhra Pradesh    57    56    54    52    49    46    43
1       2                     Assam    68    67    66    64    61    58    55
2       3                     Bihar    61    60    58    56    52    48    44
3       4              Chhattisgarh    63    61    59    57    54    51    48
4       5                   Gujarat    54    53    52    50    48    44    41
5       6                   Haryana    60    57    55    54    51    48    44
6       7                 Jharkhand    50    49    48    46    44    42    39
7       8                 Karnataka    50    48    47    45    41    38    35
8       9                    Kerala    14    15    13    12    12    13    12
9      10            Madhya Pradesh    76    74    72    70    67    62    59
10     11               Maharashtra    36    35    34    33    31    28    25
11     12                    Odisha    75    73    71    69    65    61    57
12     13                    Punjab    44    44    43    41    38    34    30
13     14                 Rajasthan    68    67    65    63    59    55    52
14     15                Tamil Nadu    37    37    35    31    28    24    22
15     16             Uttar Pradesh    73    71    69    67    63    61    57
16     17               West Bengal    38    38    37    35    33    31    32
17     20         Arunachal Pradesh    37    40    37    32    32    31    32
18     21                     Delhi    35    37    36    35    33    30    28
19     22                       Goa    16    15    13    10    11    10    11
20     23          Himachal Pradesh    49    50    47    44    45    40    38
21     24           Jammu & Kashmir    50    52    51    49    45    43    41
22     23                   Manipur    13    11    12    14    16    14    11
23     24                 Meghalaya    49    53    56    58    59    55    52
24     25                   Mizoram    20    25    23    37    36    37    34
25     26                  Nagaland    18    20    21    26    26    23    21
26     27                    Sikkim    30    33    34    33    34    30    26
27     28                   Tripura    31    36    39    34    31    27    29
28     29               Uttarakhand    42    43    48    44    41    38    36
29     30  Andaman & Nicobar Island    27    31    34    31    27    25    23
30     31                Chandigarh    19    23    27    28    25    22    20
31     32    Dadara & Nagar Havelli    42    35    34    34    37    38    35
32     33               Daman & Diu    28    28    27    31    24    23    22
33     34               Lakshadweep    22    25    24    31    25    25    24
34     35                Puducherry    28    28    25    25    22    22    19

In [27]:
df['id'] = df['States'].apply(lambda x: state_id_map[x])

In [28]:
df

,Sl.No,States,2005,2006,2007,2008,2009,2010,2011,id
0,1,Andhra Pradesh,57,56,54,52,49,46,43,28
1,2,Assam,68,67,66,64,61,58,55,18
2,3,Bihar,61,60,58,56,52,48,44,10
3,4,Chhattisgarh,63,61,59,57,54,51,48,22
4,5,Gujarat,54,53,52,50,48,44,41,24
5,6,Haryana,60,57,55,54,51,48,44,6
6,7,Jharkhand,50,49,48,46,44,42,39,20
7,8,Karnataka,50,48,47,45,41,38,35,29
8,9,Kerala,14,15,13,12,12,13,12,32
9,10,Madhya Pradesh,76,74,72,70,67,62,59,23
10,11,Maharashtra,36,35,34,33,31,28,25,27
11,12,Odisha,75,73,71,69,65,61,57,21
12,13,Punjab,44,44,43,41,38,34,30,3
13,14,Rajasthan,68,67,65,63,59,55,52,8
14,15,Tamil Nadu,37,37,35,31,28,24,22,33
15,16,Uttar Pradesh,73,71,69,67,63,61,57,9
16,17,West Bengal,38,38,37,35,33,31,32,19
17,20,Arunachal Pradesh,37,40,37,32,32,31,32,12
18,21,Delhi,35,37,36,35,33,30,28,7
19,22,Goa,16,15,13,10,11,10,11,30
20,23,Himachal Pradesh,49,50,47,44,45,40,38,2
21,24,Jammu & Kashmir,50,52,51,49,45,43,41,1
22,23,Manipur,13,11,12,14,16,14,11,14
23,24,Meghalaya,49,53,56,58,59,55,52,17
24,25,Mizoram,20,25,23,37,36,37,34,15
25,26,Nagaland,18,20,21,26,26,23,21,13
26,27,Sikkim,30,33,34,33,34,30,26,11
27,28,Tripura,31,36,39,34,31,27,29,16
28,29,Uttarakhand,42,43,48,44,41,38,36,5
29,30,Andaman & Nicobar Island,27,31,34,31,27,25,23,35
30,31,Chandigarh,19,23,27,28,25,22,20,4
31,32,Dadara & Nagar Havelli,42,35,34,34,37,38,35,26
32,33,Daman & Diu,28,28,27,31,24,23,22,25
33,34,Lakshadweep,22,25,24,31,25,25,24,31
34,35,Puducherry,28,28,25,25,22,22,19,34

In [29]:
## Now lets work with Choropleth

import plotly.express as px

In [30]:
import plotly.io as pio

In [34]:
import webbrowser

In [40]:
pio.renderers.default = 'browser'

In [43]:
fig1 = px.choropleth(df, locations='id', geojson=ind_states, color='2011', scope='asia')

In [44]:
fig1.update_geos(fitbounds="locations", visible = False)

In [42]:
fig1.show()

In [45]:
import numpy as np

In [47]:
df['2011_log'] = np.log10(df['2011'])

In [55]:
df

,Sl.No,States,2005,2006,2007,2008,2009,2010,2011,id,2011_log
0,1,Andhra Pradesh,57,56,54,52,49,46,43,28,1.633468
1,2,Assam,68,67,66,64,61,58,55,18,1.740363
2,3,Bihar,61,60,58,56,52,48,44,10,1.643453
3,4,Chhattisgarh,63,61,59,57,54,51,48,22,1.681241
4,5,Gujarat,54,53,52,50,48,44,41,24,1.612784
5,6,Haryana,60,57,55,54,51,48,44,6,1.643453
6,7,Jharkhand,50,49,48,46,44,42,39,20,1.591065
7,8,Karnataka,50,48,47,45,41,38,35,29,1.544068
8,9,Kerala,14,15,13,12,12,13,12,32,1.079181
9,10,Madhya Pradesh,76,74,72,70,67,62,59,23,1.770852
10,11,Maharashtra,36,35,34,33,31,28,25,27,1.397940
11,12,Odisha,75,73,71,69,65,61,57,21,1.755875
12,13,Punjab,44,44,43,41,38,34,30,3,1.477121
13,14,Rajasthan,68,67,65,63,59,55,52,8,1.716003
14,15,Tamil Nadu,37,37,35,31,28,24,22,33,1.342423
15,16,Uttar Pradesh,73,71,69,67,63,61,57,9,1.755875
16,17,West Bengal,38,38,37,35,33,31,32,19,1.505150
17,20,Arunachal Pradesh,37,40,37,32,32,31,32,12,1.505150
18,21,Delhi,35,37,36,35,33,30,28,7,1.447158
19,22,Goa,16,15,13,10,11,10,11,30,1.041393
20,23,Himachal Pradesh,49,50,47,44,45,40,38,2,1.579784
21,24,Jammu & Kashmir,50,52,51,49,45,43,41,1,1.612784
22,23,Manipur,13,11,12,14,16,14,11,14,1.041393
23,24,Meghalaya,49,53,56,58,59,55,52,17,1.716003
24,25,Mizoram,20,25,23,37,36,37,34,15,1.531479
25,26,Nagaland,18,20,21,26,26,23,21,13,1.322219
26,27,Sikkim,30,33,34,33,34,30,26,11,1.414973
27,28,Tripura,31,36,39,34,31,27,29,16,1.462398
28,29,Uttarakhand,42,43,48,44,41,38,36,5,1.556303
29,30,Andaman & Nicobar Island,27,31,34,31,27,25,23,35,1.361728
30,31,Chandigarh,19,23,27,28,25,22,20,4,1.301030
31,32,Dadara & Nagar Havelli,42,35,34,34,37,38,35,26,1.544068
32,33,Daman & Diu,28,28,27,31,24,23,22,25,1.342423
33,34,Lakshadweep,22,25,24,31,25,25,24,31,1.380211
34,35,Puducherry,28,28,25,25,22,22,19,34,1.278754

In [52]:
fig2 = px.choropleth(df, 
                     locations='id', 
                     geojson=ind_states, 
                     color='2011_log', 
                     scope='asia',
                     hover_name = "States",
                     hover_data = ["2011"]
                    )

In [53]:
fig2.update_geos(fitbounds="locations", visible = False)

In [59]:
# Using Mapbox
fig3 = px.choropleth_mapbox(df,
                            locations='id', 
                            geojson=ind_states, 
                            color='2011_log', 
                            hover_name = "States",
                            hover_data = ["2011"],
                            mapbox_style="carto-positron",
                            zoom = 4,
                            center={"lat":24, "lon":78},
                            opacity=0.5                            
                    )
fig3.show()